body, html{
    height: 100%;
}

.bg{
    background-image: url("https://github.com/mmansi18/TriviaGame/blob/0f88ca06abd746a4f027c3c3aabfe82aed395617/assets/images/family_guy.jpg?raw=true");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    padding: 40px;
    margin: 40px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 3px black;
    color: rgb(248, 233, 98);
    font-style: unset;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
